.selector_wrapper {
    display: flex;
    justify-content: space-between;

    & > * {
        flex:1;
    }

    .history {
        display: flex;
        gap:30px;
        justify-content: end;
        margin-top: auto;

        .h {
            display: flex;
            flex-direction: column;
            .cube {
                width:30px;
                height:30px;
                border-radius: 5px;
                border: 1px solid $gray_border_color;
                margin-bottom: 5px;
            }
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: $gap_dashboard;


    .flor {
        display: flex;
        gap: $gap_dashboard;
        flex-wrap: wrap;
        justify-content: space-between;

        .flor_flat_list {
            display: flex;
            flex:1;
            flex-wrap: wrap;
            gap: $gap_dashboard;
        }

        .cell{
            min-height: 100px;
            cursor:pointer;
            &_flor_index {
                display: flex;
                min-width: 55px;
                span {
                    font-size: .8em;
                    margin: auto auto auto 0;
                }
            }

            &_flat {
                font-size: .7em;
                width:120px;
                border-radius: $border_rad;
                overflow: hidden;
                box-shadow: $box_shadow;
                padding: 10px;

                .head {
                    display: flex;
                    justify-content: space-between;

                    .main_fixation {
                        width:10px;
                        height:10px;
                        border-radius: 10px;
                        background-color: lime;
                        box-shadow: $box_shadow;
                        margin: auto 0 auto 10px;
                    }
                }

                .area {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    text-align: right;
                }
                .price {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                }
            }
        }
    }


}



@media (max-width: 768px) {
    .dashboard .flor {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $gray_border_color
    }

}

@media (max-width: 620px) {
    .dashboard .flor {
        flex-direction: column;
        .flor_flat_list {
            justify-content: space-between;
        }

        .cell_flat {
            width: 45%;
        }
        .cell_flor_index {
            min-height: 30px;
            font-size: 20px;
            font-weight: bold;
        }

    }

    .selector_wrapper {
        flex-direction: column;
        gap: 10px;
        .history {
            justify-content: start;
            gap:20px;
            .h {
                font-size: 12px;
            }


        }
    }


}
