.main_header {
    padding-top: 10px;
    padding-bottom: 10px;
}


.system_logo {
    padding: 5px;
    display: flex;
    span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
        margin: auto auto auto 10px;
    }
    img{
        width:50px;
        height:50px;
    }
}

.top_navigation {
    display: flex;
    justify-content: space-between;


    .navbar-menu {
        margin: auto 0 auto auto;
        flex-grow:unset;
    }
}

@media (max-width: 768px) {
    .top_navigation {
        display: unset;
    }
}
