@import "vars";
@import "null";
@import "fonts";
// @import "scroll";
// @import "text-styles";
// @import "pagination";
// @import "burger-icon";
// @import "standart";
// @import "form/all-form";
@import "elements/all-elements";

body{
    font-family: $main_fonts;
    font-size: 16px;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container_main{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}


img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.map_in_page {
    width:100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    box-shadow: inset 0 0 20px 20px #FFFFFFFF;
}


.win_wrapper {
    border-radius: 0;
}


@media (max-width: 1440px) {
    .container_main {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}


.h_rezerv {
    background-color: #FFFF007A;
}

.h_rezerv_ruk {
    background-color: #FF00007A;
}

.h_sales {
    background-color: #00FF007A;
}


.user_icon_menu {

    position: relative;
    margin: auto 0 auto 20px;
    .user_data {
        display: flex;
        gap:10px;
        .icon {
            width:40px;
            height:40px;
            border-radius: 40px;
            background-color: $gray_border_color;
            overflow: hidden;
            margin: auto 0 auto 10px;
            cursor:pointer;
            border:1px solid $gray_border_color;


            img {
                object-fit: contain;

            }



        }

        span {
            margin: auto 0 auto 0;
        }
    }

    .menu {
        position:absolute;
        width:100px;
        height:100px;
        display: none;
        z-index: 1000;
        right: 0;
        ul {
            margin-top: 10px;
            background-color: white;
            width:100%;
            border:1px solid $gray_border_color;
            border-radius: 5px;
            li {
                padding: 5px 15px;
                text-align: right;
            }

            a:hover {
                color:  $main_color;
            }
        }
    }

    &:hover .menu {
        display: block;
    }

}

sup {
    color:red;
}

.empty_h2 {
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:768px) {
    .user_icon_menu {
        margin: 0;
        width:100%;
        border-top: 1px solid $gray_border_color;
        display: flex;
        flex-direction: column;

        .user_data {
            flex-direction: row-reverse;
            margin: 20px auto 10px 0;
        }

        .menu {
            position: relative;
            display: block;
            ul {
                border: none;
                li {
                    text-align: left;
                }

            }

        }
    }
}


@import "scroll";
@import "top_navigation";
@import "dashboard";
@import "flat_edit_window";
@import "log";
@import "pagination";

// Схема с сайдбаром
// @import "sidebar-schem";

// Боковое беню
// @import "menues";

// Иконка бургера
// @import "burger-icon";
